.heading-style {
    color: black;
}

.heading-style:hover {
    color: lightslategrey;
}

.keyword-button-style {
    display: flex;
    padding-block: 5px;
    padding-inline: 5px;
}

.semi-heading-style {
    color: black;
    font-weight: 500;
}

.semi-heading-style:hover {
    color: lightslategrey;
}

.recommendations-div-style {
    display: flex;
    flex-direction: column;
    padding-block: 5px;
    padding-inline: 5px;
}

.recommendations-paragraph-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 5px;
}

.title-style {
    font-weight: bold;
    color: black;
    padding-top: 15px;
    padding-bottom: 5px;
}