.parent-container {
    width: '100%';
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-inline: 40px;
    padding-bottom: 40px;
}

.child-container {
    display: flex;
    flex-direction: column;
}

.paragraph-style {
    width: 95%;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: normal;
    line-height: 20px;
}

.spacer-style {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line-style {
    flex: 1;
    height: 1px;
    background-color: lightgray;
}

.text-style {
    font-weight: bold;
}

.txt {
    color: #01B4E4;
    text-decoration: none;
}

.txt:hover {
    text-decoration: underline;
}

.link-text {
    display: flex;
    flex-direction: row;
}