.text-style {
    width: 15%;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: bold;
}

.img-style {
    padding-left: 12px;
    padding-block: 10px;
    font-weight: 500;
}

.percentage-div-style {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: -10px;
    left: 20px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.circle {
    position: absolute;
    bottom: -10px;
    left: 15px;
    background-color: black;
    color: white;
    display: flex;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 9px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    position: absolute;
    display: flex;
    width: 35px;
    height: 35px;
    align-items:inherit;
    padding-left: 3px;
}

.movie-box {
    width: "20%";
    height: 320px;
    border-radius: 3%;
    box-shadow: 2px 3px 2px #E5E4E2;
    margin: 5px;
    border: 1px solid #E5E4E2;
}

.container {
   display: flex;
   justify-content: space-around;
}