.text-style {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}

.paragraph-style {
    width: 95%;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: normal;
    line-height: 20px;
}