.link-txt-style {
    color: white;
    font-size: 15px;
    padding-block: 3px;
    text-decoration: none;
}

.heading-txt-style {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.section-style {
    display: flex;
    flex-direction: column;
    padding-block: 50px;
    padding-inline: 30px;
}

.container {
    width: '100%';
    background-color: #1E2541;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.child-container {
    display: flex;
    flex-direction: row;
}

.logo-style {
    padding-block: 20px;
}